button {
  background-color: coral;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

#mensaje {
  background-color: green;
  color: black;
  border-radius: 10px;
  padding: 5px 10px;
  width: 50%;
  margin-bottom: 10px;
}

